<nav>
  <div class="container">
    <div class="content">
      <div style="display: flex; align-items: center;">
        <img src="https://cdn-icons-png.flaticon.com/256/3795/3795330.png" alt="User Icon" width="60" height="60">
        <h2>Espace Etudiant</h2>
      </div>
      
      <ul>
        <li routerLink="">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25376.png" alt="User Icon" width="30" height="30"/>
          Déconnexion</li>
      </ul>
    </div>
  </div>
</nav>
